# JetBrains
.idea/

# Dragonfly
/world/
/players/
/resources/

/Lumi-master
/pm-gen-master

dragonfly.exe
upx.exe
heap*
goroutines.txt
mot
.gocache
.gomodcache
.tmp/

mcp940-master
fixes/
Lumi-master
.codex
codex.sh